<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>%%DOCUMENT_TITLE%%</title>
  </head>

  <body>
    <nav class="nav-container">
      <a href="./commandline">Command-line interface</a>
      <a href="./javascript">JavaScript</a>
      <a href="./restapi">REST API</a>
      <a href="./nodejs">Node.js</a>
      <a href="./packagejson">Package.json</a>
      <a href="./express">Express</a>
      <a href="./nodemon">Nodemon</a>
    </nav>
 
